.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatroom-header {
  padding: 16px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  flex-shrink: 0; /* 높이 고정 */

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.message-list {
  flex: 1; /* 남은 공간 모두 차지 */
  overflow-y: auto;
  padding: 16px;
}

.chat-input {
  flex-shrink: 0; /* 높이 고정 */
}

.exit-chat-btn {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  height: fit-content;
  margin-left: 16px;
  margin-top: 55px;
}

.exit-chat-btn:hover {
  background-color: #c0392b;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.chatroom-header p {
  margin: 2px 0; /* 상하 여백을 2px로 줄임 */
  font-size: 14px;
  color: #555;
}

.chatroom-header h3 {
  margin: 15px 0 10px 0;
  font-size: 23px;

  font-weight: 600;
}

.facility-type {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  margin-left: 6px;
}

.info-row {
  display: flex;
  gap: 16px; /* 항목 사이 간격 */
  flex-wrap: wrap; /* 화면 작아지면 줄바꿈 허용 */
}

.info-row p {
  margin: 2px 0;
  font-size: 14px;
  color: #555;
}

.opponent-left {
  text-align: center;
  color: rgb(89, 86, 116);
  font-style: italic;
  margin: 1rem 0;
}
