.review-container {
  background-color: #f7f7f7;
  height: 104vh;
}

.review-title {
  font-size: 50px;
  font-weight: bold;
  color: rgb(112, 112, 112);
  padding-top: 90px;
  text-align: center;
}

.review-box {
  width: 40%;
  height: auto;
  margin: 0 auto;
  background-color: #f7f7f7;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}

.review-notice {
  margin-top: 40px;
  padding-top: 30px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: #67c364;
}

.review-write-box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 40px 60px;
  height: 520px;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.04);
}

.review-form-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.review-title-row {
  display: flex;
  flex-direction: column;
}

.review-title-label {
  text-align: left;
  padding-left: 5px;
}

.review-title-row .prodnm-input {
  width: 250px;
  height: 40px;
  border: 1px solid #8080806e;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.review-title-row select {
  width: 260px;
  height: 40px;
  border: 1px solid #8080806e;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 17px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  box-sizing: border-box;
}

.review-title-row select:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
  outline: none;
}

.review-title-row .prodnm-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
  outline: none;
}

.review-stars-row {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 20px;
}

.review-rating-label {
  padding-top: 20px;
}

.review-required {
  color: red;
  padding-left: 10px;
}

.review-star-container {
  padding-top: 10px;
}

.star-container {
  margin-top: 13px;
}
.review-star {
  font-size: 25px;
  cursor: pointer;
  margin-right: 5px;
  color: #ccc;
  padding: 2px;
}

.review-star.review-filled {
  color: gold;
  text-shadow: 2px 2px 5px rgba(218, 165, 32, 0.5);
}

.review-star.review-empty {
  color: #ccc;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.review-row {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.review-label {
  text-align: left;
  padding-left: 5px;
}

.review-row.review-textarea {
  border: 1px solid #8080806e;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px 17px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  resize: unset;
  height: 200px;
}

.review-prodttl-input:focus,
.review-textarea:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
}

.review-prodttl-input,
.review-textarea {
  width: 100%;
  border: 1px solid #8080806e;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px 17px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  outline: none;
  resize: none;
}

.review-prodttl-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
  outline: none;
}

.review-button-row {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.review-btn-back,
.review-btn-submit {
  border-radius: 4px;
  padding: 8px 16px;
  min-width: 100px;
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
}

.review-btn-back {
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #333;
  margin-bottom: 10px;
}

.review-btn-back:hover {
  background-color: #f0f0f0;
  border-color: #888;
}

.review-btn-submit {
  margin-left: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.review-btn-submit:hover {
  background-color: #428140;
}
