.chat-list-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 12px;
  box-sizing: border-box;
}

.chat-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 16px;
  margin-bottom: 8px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 0;
}

.chat-list-item:hover {
  background-color: hsl(220, 100%, 92%);
}

.chat-list-item.active {
  background-color: white;
  border-left: 4px solid #007bff;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
  transform: scale(1.02);
  z-index: 1;
}

.chat-title {
  font-weight: 600;
  font-size: 16px;
  color: #222;
  margin-bottom: 6px;
  margin-left: 7px;
}

.chat-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #555;
  margin-left: 10px;
}

.chat-time {
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  margin-left: 8px;
}
.unread-badge {
  position: absolute;
  top: 14px;
  right: 16px;
  background-color: #ff3b30;
  color: white;
  font-size: 13px;
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 12px;
}

.opponent-out-text {
  color: #888; /* 옅은 회색 */
  font-size: 0.75rem; /* 작게 */
  margin-left: 4px;
  font-weight: 400;
}

.chat-search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 10px;
  background-color: white;
  width: 100%;
  max-width: 95%;
  box-sizing: border-box;
  margin: 5px auto;
  height: 40px;
}

.chat-search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;

  /* 입력 텍스트는 왼쪽 정렬 */
  text-align: left;

  margin-left: 15px;
  margin-right: 15px;
}

/* placeholder는 가운데 정렬 */
.chat-search-input::placeholder {
  text-align: center;
}

.search-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 8px;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
  color: #00334f;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  margin-right: 15px;
}
