.chatroom-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.chatlist-area {
  width: 400px;
  overflow-y: auto;
  background-color: #fff;
  height: 100%; /* 중요 */
}

.chatwindow-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  overflow: hidden;
  min-width: 0;
}
