.silvertown-main {
  padding: 20px;
}

.tab-menu {
  display: flex;
  gap: 5px !important;
  margin-bottom: 0px !important;
}

.tab-menu button {
  padding: 10px 20px;
  background: #ddd;
  border: none;
  cursor: pointer;
}

.tab-menu button:hover {
  background: #e774bd; /* 호버 시 색상 변경 */
  color: #000; /* 글자색도 변경 가능 */
  transition: background 0.2s ease, color 0.2s ease;
}

.tab-menu .active {
  background: #007acc;
  color: #fff;
}

.filter-box {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.filter-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.filter-category > div {
  margin-bottom: 20px;
}

.filter-category label {
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background: #ff4cbd;
  transition: background 0.2s ease;
}
