.sh-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 120px;
}

.footer-spacer {
  height: 120px;
}


.change-password-container {
  max-width: 400px;
  margin: 100px auto 60px;
  padding: 40px 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.change-password-container h2 {
  text-align: center;
  margin-bottom: 32px;
  font-size: 1.5rem;
  color: #333;
}

.change-password-container input[type="password"] {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.change-password-container button {
  width: 100%;
  padding: 10px 12px;
  font-size: 1rem;
  background-color: #0a3d62;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.change-password-container button:hover {
  background-color: #064174;
}

.pass-btn {
  width: 100%;
  padding: 12px 14px;
  font-size: 1rem;
  background-color: #0a3d62;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.pass-btn:hover {
  background-color: #064174;
}