.mypage-container {
  max-width: 1200px;
  margin: 100px auto 0 auto;
  padding: 40px 20px 100px 20px;
  min-height: 100vh;
  padding-bottom: 100px;
  min-height: 100vh;
}

.mypage-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.mypage-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  flex-wrap: wrap;
}

.mypage-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profileCircle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  text-align: center;
  margin-top: -10px;
}

.username {
  font-size: 16px;
  color: #444;
  margin-bottom: 4px;
}

.name {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

.mod-btn {
  padding: 6px 12px;
  background-color: #00334f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.mod-btn:hover {
  background-color: #01659b;
}

.mypage-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mypage-menu li a,
.fake-link {
  display: block;
  padding: 12px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 15px;
  color: #333;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  transition: 0.2s;
}

.mypage-menu li a:hover,
.fake-link:hover {
  background-color: #f3f3f3;
}

.fake-link {
  background: white;
  border: none;
  cursor: pointer;
}

.mypage-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 460px;
}

.profile-box {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 24px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.profile-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.profile-item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #333;
}

.chj-value {
  font-size: 16px;
  font-weight: 600;
  color: #00334f;
}
