.mypage-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    height: calc(100vh - -150px);
  }
  
  .mypage-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: left;
  }
  
  .mypage-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
  }
  
  /* 왼쪽 */
  .mypage-left {
    width: 250px;
    padding: 20px;
    border: 1px solid #bbb;
    border-radius: 10px;
    text-align: center;
  }
  
  .mypage-avatar {
    width: 100px;
    height: 100px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 auto 15px;
  }
  
  .mypage-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column; 
    gap: 10px;
  }
  
  .mypage-menu li {
    margin: 12px 0;
    font-weight: 500;
    cursor: pointer;
  }
  
  /* 오른쪽 */
  .mypage-right {
    flex-grow: 1;
  }
  
  .profile-box {
    border: 1px solid #bbb;
    padding: 25px;
    border-radius: 10px;
    background: #fdfdfd;
    max-width: 600px;
  }
  
  .profile-title {
    font-size: 20px;
    font-weight: 700;
  }
  
  .profile-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
  }
  
  .profile-item label {
    width: 130px;
    font-weight: 600;
  }
  
  .value {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
    color: #000;
    width: 300px; 
  }
  
  .mod-btn {
    background-color: #00334f;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
  }

  .mod-btn:hover {
    background-color: #01659b;
    color: white;
  }
  
  .mod-btn.main {
    margin-top: 20px;
    float: right;
  }
  
  .fake-link {
    background: none;
    border: none;
    padding: 0;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    font: inherit;
  }

  .mypage-menu a {
    color: #000;
    text-decoration: none;
  }
  
  .mypage-menu a:visited {
    color: #000;
  }
  
  
