.sh-container {
  max-width: 700px;
  margin: 100px auto 120px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.sh-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.sh-no-review {
  text-align: center;
  color: #888;
}

.sh-review-link {
  text-decoration: none;
  color: inherit;
}

.sh-review-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sh-review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sh-review-title {
  font-size: 18px;
  font-weight: bold;
}

.sh-review-title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.sh-review-content {
  font-size: 16px;
  color: #333;
  white-space: pre-wrap;
  word-break: break-word;
}

.sh-review-date {
  text-align: right;
  font-size: 14px;
  color: #666;
}

.sh-review-title {
  font-size: 18px;
  font-weight: bold;
  word-break: break-word;
  flex: 1;
}

.sh-review-rating {
  font-size: 16px;
  color: #ffcc00;
  white-space: nowrap;
}