.change-password-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.change-password-container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.change-password-container label {
  display: block;
  font-weight: 500;
  margin-bottom: 6px;
  margin-top: 16px;
}

.chj-input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.chj-input:disabled {
  background-color: #f9f9f9;
}

.chj-select {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.chj-save-btn {
  width: 48%;
  padding: 10px;
  margin-top: 12px;
  margin-right: 2%;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color:  #00334f;
  color: #fff;
  transition: background-color 0.2s ease;
}

.chj-save-btn:hover {
  background-color:  #01659b;
  opacity: 0.9;
}

.chj-pass-btn {
  margin-top: 1rem;
  padding: 0.75rem;
  width: 100%;
  font-size: 1rem;
  background: #00334f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chj-pass-btn:hover {
  background: #01659b;
  color: white;
}

.chj-pass-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.chj-pass-btn.gray {
  background: #ddd;
  color:  #333;
}